body{
    
    margin: 0px;
}

.container {
    background-color: rgb(67, 142, 204);
    background-image: url(../img/pattern.png);
    

}

#logo {
   
    margin-top: 100px ;
}

 #titolo {
    margin-top: 10px;
    margin-bottom: 0px;
}

#footertitolo {
    margin-top: 0px;
    margin-bottom: 20px;
    color: grey;
}

#booleanerblu {
    color: rgb(42, 173, 206);
    
}

header {
    margin: 5px;
}

p#footerimages {
    margin: 0px;
}

#contenuto{
    margin-left: 5px;
}

#evidenziatesto1{
    background-color: yellow;
}

ul#puntilista{
    padding: 1%;
}